<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS 特效演示网站</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>
        CSS 特效演示列表
    </h1>
    <div class="container" id="app">
        <div v-for="demo in demos" class="demo">
            <div class="thumb">
                <img :src="demo.dir + '/' + demo.thumb" alt="">
            </div>
            <h2>
                <a :href="demo.dir" class="href"> {{demo.title}}</a>
            </h2>
            <div class="tags">
                <span v-for="tag in demo.tags" class="tag">{{ tag }}</span>
            </div>
        </div>
        
    </div>
    <script src="app.js"></script>
</body>
</html>