<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS 特效演示网站</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header>
        <h1>
            CSS 特效演示列表
        </h1>
        <nav>
            <a href="about.html">关于</a>
        </nav>
    </header>
 
    <div class="container" id="app">
        <div class="demos">
            <div v-for="demo in displayedDemos" class="demo">
                <div class="thumb">
                    <img :src="demo.dir + '/' + demo.thumb" alt="">
                </div>
                <h2>
                    <a :href="demo.dir" class="href"> {{demo.title}}</a>
                </h2>
                <div class="tags">
                    <span v-for="tag in demo.tags" class="tag">{{ tag }}</span>
                </div>
            </div>
        </div>
        <na>
            <ul class="pagination">
                <li class="page-item">
                    <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="page-item">
                    <button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)"
                        @click="page = pageNumber"> {{pageNumber}} </button>
                </li>
                <li class="page-item">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
                </li>
            </ul>
        </nav>
        
    </div>

   
    <script src="app.js"></script>
</body>
</html>